{{ "<!-- portfolio -->" | safeHTML }}
<section id="two">
    {{ with .Site.Params.portfolio.title }}<h2>{{ . | markdownify }}</h2>{{ end }}
    <div class="row">
        {{ range .Site.Params.portfolio.gallery }}
        <article class="6u 12u$(xsmall) work-item {{ $.Site.Params.Use_out_img }} {{  $.Site.Params.OutImgLink }}">
            {{ if .Site.Params.Use_out_img }}
            <a href="{{ $.Site.BaseURL }}images/{{ .image }}?33" class="image fit thumb"><img src="{{ $.Site.BaseURL }}images/{{ .thumb }}" alt="" /></a>
            {{ end }} 
            {{ if not .Site.Params.Use_out_img }}
            <a href="{{ $.Site.Params.OutImgLink }}{{ .image }}" class="image fit thumb"><img src="{{ $.Site.Params.OutImgLink }}{{ .thumb }}" alt="" /></a>
            {{ end }}
            <h3>{{ .title | markdownify }}</h3>
            <p>{{ .description | markdownify }}</p>
        </article>
        {{ end }}
    </div>
</section>